*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: #F6F8FF;
    font-family: 'Space Mono';
}

.container{
    max-width: 750px;
    margin: 130px auto 200px;
}
header{
    margin-bottom:40px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.light {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.light:hover .choice_light {
    color: #2B3442;
}
.light:hover svg path {
    fill: #2B3442;
}
.light:focus{
    border: 4px solid #0079FF;
    outline: none; 
    border-radius: 10px;
    padding: 5px;
}
.choice_light {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2.5px;
    line-height: 140%;
    color: #4B6A9B;
}
.search {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.19);
    margin-bottom: 40px;
}
.search:focus{
    border: 4px solid #0079FF;
    outline: none;
    border-radius: 10px;
}
.loop{
    margin-left: 24px;
}
.search_input{
    width: 100%;
    padding-left:20px;
    border: none;
    outline: none;
    font-family: 'Space Mono';
    font-size: 18px;
    line-height: 140%;
    color: #4B6A9B;
}
.search_input::placeholder{
    font-size: 18px;
    line-height: 150%;
    color: #4B6A9B;
}
.search_btn{
    width: 107px;
    height: 48px;
    margin-right: 12px;
    border: none;
    border-radius: 10px;
    font-family: 'Space Mono';
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
    color: #fff;
    background-color: #0079FF;
}
.search_btn:hover{
    background-color: #60ABFF;
}
.search_btn:focus{
    border: 3px solid #fff;
    outline: 3px solid #0079FF;
    border-radius: 10px;
}
.content {
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.19);
}
.avatar{
    grid-column: 1/2;
    /* grid-area: a; */
}
.avatar_img{
    border-radius: 50%;
}
.info {
    display: flex;
    flex-direction: column;
    padding: 48px 53px 48px 48px;
}
.info_header {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr;
    grid-template-rows: 58.5px 58.5px;
    /* grid-template-areas: "a b c"
                        "a d c"; */
}
.info_title{
    grid-column: 2/4;
    /* grid-area: b; */
}
.info_name {
    font-size: 26px;
    font-weight: 900;
    line-height: 120%;
    color: #2B3442;
}
.info_id {
    font-size: 16px;
    line-height: 150%;
    color: #0079FF;
}
.info_registration, .info_bio {
    grid-column: 4/5;
    /* grid-area: c; */
    font-size: 15px;
    line-height: 150%;
    color: #4B6A9B;
    margin-left: auto;
}
.info_bio{
    grid-column: 2/5;
    /* grid-area: d; */
    margin-left: 0;
}
.info_page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F6F8FF;
    border-radius: 10px;
    width: 77%;
    margin-left: auto;
    margin-bottom: 24px;
}
.info_list {
    padding-block:15px;
}
.info_desc {
    font-size: 13px;
    line-height: 150%;
    color: #4B6A9B;
}
.info_quantity {
    font-size: 22px;
    font-weight: bold;
    line-height: 140%;
    color: #2B3442;
}
.info_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap:16px;
    list-style-type: none;
    width: 77%;
    margin-left: auto;
}
a{
    text-decoration: none;
    font-size: 15px;
    line-height: 150%;
    color: #4B6A9B;
}
a:hover{
    text-decoration: underline;
}
.link_item:focus{
    border: 4px solid #0079FF;
    outline: none;
    border-radius: 10px;
    padding: 5px 50px 5px 5px;
}
.link_item:focus:last-child{
    padding-right: 100px;
}
.twitter{
    padding-right: 50px;
}
.id_git{
    padding-right: 100px;
}

@media(max-width: 768px){
    .container{
        max-width: 705px;
        margin: 32px 32px 290px;
    }
}

@media (max-width: 425px){
    .container{
        max-width: 375px;
        margin: 32px 16px 97px;
    }
    .header{
        margin-bottom:32px;
    }
    .light {
        column-gap: 12px;
    }
    .search {
        margin-bottom: 32px;
    }
    .loop{
        margin-left: 12px;
    }
    .search_input{
        width: 57%;
        font-size: 13px;
        padding-left: 8px;
    }
    .search_input::placeholder{
        font-size: 13px;
    }
    .search_btn{
        width: 100px;
    }
    .avatar{
        grid-column:1/2;
    }
    .avatar_img{
        width:70px;
        height: 70px;
    }
    .info{
        padding: 32px 24px 32px 24px;
    }
    .info_header{
        grid-template-columns: 90px 1fr;
        grid-template-rows: 57px 55px 47px;
       /* grid-template-areas: "a b b b b"
                            "a c c c c"
                            "d d d d d"; */
    }
    .info_title{
        grid-column: 2/3;
    }
    .info_registration{
        grid-column: 2/3;
        grid-row: 2/4;
        margin-left: 0;
    }
    .info_bio{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .info_bio, .info_page, .info_links{
        margin-left: 0;
        width: 100%;
    }
    .info_page{
        display: block;
        padding-inline: 20px;
    }
}